* {
    margin: 0px;
}

html, body {
    height: 100%;
    font-family: Arial;
    font-size: 14px;
}

input[type="submit"] {
    border: solid 2px;
    background-color: white;
    border-color: #5A83AD;
    border-radius: 3px;
}
button{
    border: solid 2px;
    background-color: white;
    border-color: #5A83AD;
    border-radius: 3px;
}

#footer {
    /*position: absolute;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0;*/


}
#footer_text{
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
}

.errors {
    color: red;
}

#header {
    border: 2px solid black;
    width: 100%;
    height: 90px;
}

#header #header_title {
    color: #4141A6;
    font-size: 26px;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 20px;
}

#header #locale {
    float: right;
}

#header #locale td {
    padding-right: 10px;
    padding-left: 8px;
    font-weight: bold;
}

#header #locale a {
    color: blue;
}

#menu {
    color: blue;
    width: 20%;
    vertical-align: top;
}
.active a{
    color:#FBA34D;
}

#main {
    width: 100%;
    height: 100%;
}

#body {
    height: 85%;
    vertical-align: top;
}

#sidebar {
    width: 230px;
    height: 200px;
    background-color: #C0C0C0;
    margin-top: 12px;
    /* align center */
    margin-left: auto;
    margin-right: auto;
}

#sidebar_title {
    width: 220px;
    background-color: #969696;
    height: 30px;
    float: right;
    position: relative;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 20px;
}

#content_box {
    margin-top: 12px;
    border: solid gray 2px;
    height: 100%;
}

#nav_list {
    background-color: white;
    padding-top: 8px;
    width: 80%;
    float: right;
    margin-right: 5px;
    padding-bottom: 20px;
}

#nav_list ul {
    margin-left: 30px;
}
#nav_list ul li{
    background-image: url(../images/circle.png);
}
.breadcrumb{
    margin: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
}.breadcrumb a{
     color: grey;
 }
