#footer {
    position: absolute;
    width: 100%;
    height: 60px; /* Height of the footer */
    position: absolute;
    bottom: 0;
}

.errors {
    color: red;
}

.locale {
    float: right;
    margin-top: 7px;
}

#bodyContainer {
    height: 80%;
    position: relative;
}