input {
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 20px;
}

label.error {
    margin-bottom: -10px;
    margin-top: -10px;
    color: #D44950;
}

#newsForm {
    padding: 50px;
}

label.in {
    display: inline-block;
    width: 100px;
    text-align: left;
}

​.inputField {
    display: inline;
}

label.error {
    display: inline;
    margin-left: 10px;
    vertical-align: top;
}

#briefLabel {
    vertical-align: top;
}

#contentLabel {
    vertical-align: top;
}

#buttons {
    margin-left: 130px;
}

textarea {
    width: 380px;
}

input#title {
    width: 360px;
}
