.date{
  float:right;
    padding-top: 23px;
}
h2{
    display: inline;
}
h2.title{
    display: inline-block;
    width: 85%;
}
.RUDbuttons{
    float: right;
}
.newsBlock{
    margin-bottom: 80px;
    word-wrap: break-word;
}
#deleteBtn{
    float: right;
}
.brief{
    width:85%;
}