.date {
    float: right;
    padding-right: 60px;
    text-decoration: underline;
}

h2 {
    display: inline;
}

h2.title {
    width: 85%;
}

.RUDbuttons {
    float: right;
    padding-right: 60px;
}

.newsBlock {
    padding-left: 60px;
    padding-top: 60px;
    margin-bottom: 80px;
    word-break: break-all;
}

#deleteBtn {
    float: right;
    margin-right: 60px;
}

.brief {
    width: 75%;
}

a.listBtn {
    margin-right: 10px;
    text-decoration: none;
}