#content {
    padding: 80px;
    word-break: break-all;
}

#buttons {
    float: right;
}

.contentLine {
    display: inline;
}

label.in {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 130px;
    color: grey;
}

table#view {
    table-layout: fixed;
    word-break: break-all;
    padding: 60px;
    padding-top: 50px;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.btnLink {
    border-radius: 3px;
    border: 2px solid #6495ED;
    background-color: #ffffff;
    padding: 2px 15px 2px 15px;
    text-decoration: none;
    color: black;
}

​